:root {
    --color1: rgba(11, 57, 84, 1);
    --color2: rgba(128, 155, 206, 1);
    --color3: rgba(198, 235, 190, 1);
    --color4: rgba(224, 255, 79, 1);
    --color5: rgba(135, 214, 74, 1);
}

button.round {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 2px;
}
.inline {
  max-width: 50px !important;
}
.indent {
  padding-left: 30px !important;
}
.indent > input > p {
  color: rgba(11, 57, 84, 1);
}
button {
  background-color: rgba(11, 57, 84, 1);
  color: rgba(224, 255, 79, 1);
}
a {
  color: rgba(11, 57, 84, 1);
}