<div class="indent">
<button name="showForm" *ngIf="display && !buttonClicked" (click)="buttonClicked=true">Schedule Reminder</button>
<form *ngIf="display && buttonClicked" [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
  <h2>Schedule Reminder </h2>
		<label>Every 
		<input type="text"  formControlName="frequency" name="frequency"
    placeholder="number">
     days
  </label>

		<button type="submit">Schedule reminder</button>
</form>
<app-reminder-view *ngIf="!display"></app-reminder-view></div>