<h1> {{plant.formal_name | titlecase}} </h1>
<div *ngIf="plant">
	<img src="">
	<p>{{ plant.overview }} </p>
  <p><a href= "plant.wikipedia-link" >More ></a></p>
  <br>

	<button *ngIf="!showInput" (click)="add(plant)">Add a {{plant.formal_name |titlecase}}</button>
  <p> {{message}}</p>
	<form *ngIf="showInput" [formGroup]="addPlantForm" (ngSubmit)="onSubmit()">
		<h2>New {{plant.formal_name |titlecase}}</h2>
		<input type="text" formControlName="plantName" placeholder="Plant Name">
		<br>
		<input type="text" formControlName="plantDescription" placeholder="Description">
		<br>
    <label>Location <br><select formControlName="location">
      <option value="Sunroom">Sunroom</option>
      <option value="Kitchen">Kitchen</option>
      <option value="Bedroom">Bedroom</option>
      <option value="Bathroom">Bathroom</option>
    </select></label>
		<br>
		<button type="submit">Create</button>
	</form>

</div>