<head> 
    <link rel="stylesheet" 
          href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> </head>

<form [formGroup]="searchForm" (input)="onSubmit()">
  <br>
   <div> 
        <div class="input-icons"> 
            <i class="fa fa-search icon"></i> 
<input class="input-field" formControlName="searchField" type="text" id="searchField" placeholder="Search for plants..." autofocus/>
        </div></div>

</form>
<div *ngFor="let data of results; index as formal_name">

<a [title]="data.formal_name + ' details'" [routerLink]="['/plants', data.formal_name]">
      {{ data.formal_name | titlecase}}
    </a>
<p>{{data.overview}}</p>
<!-- <app-plant-alerts
  [plant]="plant"
  (notify)="onNotify()"></app-plant-alerts> -->

</div>