:root {
    --color1: rgba(11, 57, 84, 1);
    --color2: rgba(128, 155, 206, 1);
    --color3: rgba(198, 235, 190, 1);
    --color4: rgba(224, 255, 79, 1);
    --color5: rgba(135, 214, 74, 1);
}

.plantWrapper {
  background-color: rgba(198, 235, 190, 1);
 width: 100%;
 border-radius: 50px 15px ;
 margin-bottom: 40px;
 padding: 2%;
 padding-bottom:4% !important;
}
.plantWrapper > p, .plantWrapper > h2 {
  padding-left: 30px;
  color: rgba(11, 57, 84, 1);
}

h2 {
  color: rgba(11, 57, 84, 1);
  font-weight: bold;
  padding-left: 12px;
}

.schedulebutton {
  padding: none;
}
 .fa-leaf{
  color: rgba(11, 57, 84, 1) !important;
  font-weight: 900;
  padding-right: 8px;
  font-size: .9em;
}
 .fa-home {
   color: rgba(11, 57, 84, 1) !important;
   font-style: normal;
   font-size: 1.1em;
 }
i{
   font-family: 'FontAwesome' !important;
  }
button {
  background-color: rgba(198, 235, 190, 1);
  color: rgba(11, 57, 84, 1);
}
a {
  color: rgba(11, 57, 84, 1);
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/