<br>
<button [routerLink]="['/search']"> <h2 style="color:white"> Search Plants </h2> </button>
<h2>My Garden</h2>

<div *ngFor="let plant of plants; index as plantId">
   <h3>
      <a [title]="plant.name + ' details'" [routerLink]="['/plants', plantId]">
      {{ plant.name }}
    </a>
  </h3>
   <p *ngIf="plant.description">
    Description: {{ plant.description }}
  </p>
  <p *ngIf="plant.inList == 'true'">
    In your list
  </p>
  <p>
    ${{plant.price}}
  </p>
 

  <app-plant-alerts
  [plant]="plant"
  (notify)="onNotify()">
</app-plant-alerts>

</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->