

<app-search></app-search>
<h2>My Garden</h2>

<div *ngFor="let data of plants; index as given_name">
  <div class=plantWrapper>
    <div class="input-icons"> 
            
     <h2> <fa name="seedling"></fa> {{ data.given_name | titlecase}} </h2>
    </div>
     <p>{{data.description}}</p>
     <p> Location: {{data.location}} </p>
     <app-add-schedule *ngIf="data.plant_schedule_id == null" plant=[data.plant_id]></app-add-schedule>
     <p *ngIf="data.plant_schedule_id != null"> Reminder Scheduled </p>
	
<!-- <app-plant-alerts
  [plant]="plant"
  (notify)="onNotify()"></app-plant-alerts> -->
  </div>
</div>

<!-- <div *ngFor="let plant of plants; index as plantId">
   <h3>
      <a [title]="plant.name + ' details'" [routerLink]="['/plants', plantId]">
      {{ plant.name }}
    </a>
  </h3>
   <p *ngIf="plant.description">
    Description: {{ plant.description }}
  </p>
  <p *ngIf="plant.inList == 'true'">
    In your list
  </p>
  <p>
    ${{plant.price}}
  </p>
 

  <app-plant-alerts
  [plant]="plant"
  (notify)="onNotify()">
</app-plant-alerts>

</div> -->
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->