<head>
  <link 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
</head>
<a [routerLink]="['/home']">
  <h1> <i class="fas fa-leaf"></i><fa class="leaf" id="leaf" name="leaf" ></fa> Snapdragon</h1>
</a>

<!-- <a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">local_florist</i>Add Plant</a> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->